.verde{
    color:#9ac350 ;
}

body{
    color: white;
}
.verdeescuro{
    color: #6f9861;
}

.verdementa{
    color: #264f0b;
}
.black{
    color: #061b0d;
}
.verdemaisescuro{
    color: #21320d;
}

.final{ 
background-image: url(captura\ tela\ esc2.PNG);

}
.verde-escuro{
background-image: url(captura\ tela\ esc\ copy.PNG);

}

.plantas{
background-image: url(Captura\ de\ tela\ de\ 2026-07-06\ 10-54-56.png);

}

.folhas{
background-image: url(captura\ tela\ esc.PNG);

}

.planeta{
background-image: url(captura\ imagem\ esc\ 2.PNG);

}

,.floresta{
background-image:url ;

}